body{
    background-color: rgb(34, 34, 34);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
.nav-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}



#logo{
    width: 3em;
}



h3{
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 20p;
    font-family: "Fjalla One",serif;
    font-style: normal;
    font-weight: 400;

}

.cotainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-left: 3em;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-left: 3em;
}

.radio-tile-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 2%;
}

.input-containter{
    position: relative;
    height: 1rem;
    margin: 0.5rem;
    margin-left: 3rem;
}

.input-containter input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-containter .radio-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    transition:all 300ms ease;
}
.input-containter label{
    color: rgb(255, 255, 255);
    font-size: 0.80rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
input:checked+.radio-title{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    transform: scale(1.2);
}
input:hover+.radio-title{
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    border-radius: 0.5rem;
    opacity: 50%;
}
input:checked+.radio-title label{
    color: rgb(0, 0, 0);
}